*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.card {
  display: flex;
  height: 500px;
  width: 800px;
  margin: auto;
  border: 1px solid #000;
  border-radius: 5px;
  margin-top: 20px;
  background-color: #EF8319;
  
}
.logo{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:#000;
  color: #fff;
  width: 120px;
  height: 80px;
  margin-left: 5px;
  margin-top: 5px;
}
.title{
  
  display: flex;
  flex-direction: column;
  color: #fff;
  font-size: 28px;
  font-weight: bold;
  justify-content: center;
  align-items: center;
  
  

  
}
.profile{
  display: flex;
  align-self: flex-end;
  align-items: center;
  
  justify-content: flex-end;
  
  flex-direction: row;
  background-color:#fff ;
  height: 50px;
  width: 300px;
  margin-bottom: 5px;
  margin-right: 5px;

}

.profile h2 {
  color: #EF8319;
  font-size: 20px;
  margin: auto;
}
